.intro {
  display: flex;
  justify-content: center;
  margin-top: -62px;

  background-color: #F8F8F8;

  @include mobile {
    margin-top: 0;
  }

  &__image {
    margin-left: 10px;

    @include desktop {
      margin-left: 0;
    }
  }
}
