.left-menu {
  display: flex;
  flex-direction: column;

  &__list {
    @include list-reset;
  }

  &__link{
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0px;
    color: #767676;
    font-weight: 400;

    transition: $transition-props;

    &:hover {
      opacity: 0.6;
    }
  }

}
